body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #E0E20C;
    padding: 1rem;
  }
  
  header img {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    }
    
    main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    }
    
    form {
    width: 80%;
    max-width: 600px;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    }
    
    form h2{
    text-align: center;
    }
    
    label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    }
    
    input[type="text"], input[type="email"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    }
    
    input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    }
    
    input[type="submit"]:hover {
    background-color: #f00;
    }
    
    /* Responsive Styles */
    @media (max-width: 600px) {
    form {
    width: 100%;
    }
    } 

    footer {
        background-color: #000;
        color:#E0E20C;
        padding: 1rem;
      }
      
      .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .footer-container p {
        margin: 0;
      }
      
      .footer-container nav {
        display: flex;
      }
      
      .footer-container nav a {
        color: #fff;
        margin-left: 1rem;
        text-decoration: none;
      }
      